In [1]:
import cv2
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [2]:
train_df = pd.read_csv("../dataset/train.csv", header=None)

In [3]:
train_df.head()

     0           1
0  171  003900.jpg
1  171  003062.jpg
2  171  000053.jpg
3  171  000920.jpg
4  171  001120.jpg

In [4]:
len(set(train_df[0]))

72

In [5]:
data_dir = "../dataset/imgs/"

In [6]:
id2img = {}

for i in range(len(train_df)):
    
    idx = train_df.iloc[i,0]
    img_name = train_df.iloc[i,1]
    
    if idx not in id2img:
        id2img[idx] = {}
    
    img = cv2.imread(data_dir + img_name)
    img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    
    id2img[idx][img_name] = img
    
id2img = { k:id2img[k] for k in sorted( list(id2img.keys())) }

In [7]:
id2img.keys()

dict_keys([0, 1, 3, 6, 12, 13, 22, 24, 25, 27, 28, 30, 33, 34, 39, 40, 42, 43, 45, 51, 54, 55, 57, 60, 64, 66, 67, 69, 72, 76, 78, 81, 82, 85, 88, 90, 91, 94, 96, 97, 100, 106, 108, 109, 114, 115, 117, 124, 126, 129, 130, 132, 136, 139, 142, 145, 148, 151, 153, 154, 160, 168, 171, 172, 175, 177, 178, 181, 187, 195, 196, 198])

In [8]:
id2img[54].keys()

dict_keys(['001260.jpg', '003849.jpg', '001659.jpg', '003486.jpg', '000585.jpg', '003148.jpg', '005062.jpg', '002842.jpg', '001536.jpg', '002772.jpg', '000543.jpg', '003617.jpg', '000603.jpg', '002490.jpg', '003425.jpg', '005121.jpg', '004007.jpg', '003725.jpg', '004196.jpg'])

In [8]:
# plt.clf()
# plt.imshow( cv2.cvtColor(id2img[0]['001703.jpg'], cv2.COLOR_RGB2GRAY) , cmap='gray')

In [9]:
img_num = []
all_img = []

for k in id2img:
    count = 0
    for fn in id2img[k]:
        count += 1
        all_img.append(id2img[k][fn].astype(np.float64))
    
    img_num.append(count)

In [26]:
img_num[1]

10

In [27]:
img_num[2]

20

In [29]:
sum(img_num[:2])

22

In [12]:
gallery_df = pd.read_csv("../dataset/gallery.csv", header=None)

In [13]:
gallery_df.head()

     0           1
0  250  001170.jpg
1  256  001504.jpg
2  247  003177.jpg
3  238  000323.jpg
4  264  002276.jpg

In [14]:
gallery_df.shape

(35, 2)

In [17]:
len(set(gallery_df[0]))

35